{% extends "inicio/encabezado.html" %}

{% block titulo %}CONTACTO{% endblock %}

{% block encabezado_pagina %}
<div class="page-header">
    <div class="page-title">
        <h3>
            Contacto
            <small>Envía tu mensaje</small>
        </h3>
    </div>
</div>
{% endblock %}

{% block contenido %}



    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">
                    Nombre:
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="nombre">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">
                    Correo:
                </label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="correo">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">
                    Asunto:
                </label>
                <div class="col-sm-10">
                    <select class="form-control" name="asunto">
                        <option value="">Selecciona un asunto</option>
                        <option value="consulta">Consulta</option>
                        <option value="soporte">Soporte</option>
                        <option value="sugerencia">Sugerencia</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">
                    Mensaje:
                </label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" name="mensaje"></textarea>
                </div>
            </div>

            <div class="form-actions text-right">
                <button type="submit" class="btn btn-primary">
                    Enviar Mensaje
                </button>
            </div>

        </div>
    </div>
</form>

{% endblock %}