{% extends "inicio/encabezado.html" %}
{% load static %}

{% block titulo %}
Editar Comentario
{% endblock %}

{% block encabezado_pagina %}
<div class="page-header">
    <div class="page-title">
        <h3>Editar Comentario</h3>
    </div>
</div>
{% endblock %}

{% block contenido %}

<form method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label>Usuario</label>
        <input type="text" name="usuario" class="form-control">
    </div>

    <div class="form-group">
        <label>Mensaje</label>
        <textarea name="mensaje" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">
        Guardar
    </button>

</form>

{% endblock %}